* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #005593;
    background: url('../img/jogo/header_footer_bg.gif');
    padding: 0px;
    margin: 0px;
    text-align: center;
}

#todo {
    float: left;
    width: 100%;
    height: 100%;
}

#container {
    width: 1325px;
    height: 495px;
    position: relative;
    margin: 10px auto;
    border-radius: 10px;
}

#painelJogo {
    float: left;
    background-color: #1D3D6F;
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 0px;
    border-top: 5px #FCCE21 dashed;
}

#jogador {
    float: left;
    color: white;
    width: 200px;
    margin: 20px 50px;
    padding: 5px 30px;
    background-color: #081B38;
    border-radius: 20px;
    text-align: center;
    border: 2px solid #FCCE21;
    font-size: 50px;
    box-shadow: 3px 3px black;
    font-family: Impact, Charcoal, sans-serif
}

#tempo {
    float: left;
    color: white;
    margin: 20px 50px;
    width: 180px;
    padding: 5px 30px;
    background-color: #081B38;
    border-radius: 20px;
    border: 2px solid #FCCE21;
    font-size: 50px;
    box-shadow: 3px 3px black;
    font-family: Impact, Charcoal, sans-serif
}

#erros {
    float: left;
    color: white;
    width: 100px;
    margin: 20px 50px;
    padding: 5px 50px;
    background-color: #081B38;
    border-radius: 20px;
    text-align: center;
    border: 2px solid #FCCE21;
    font-size: 50px;
    box-shadow: 3px 3px black;
    font-family: Impact, Charcoal, sans-serif
}

#controle {
    float: left;
    color: white;
    width: 150px;
    margin: 20px 50px;
    padding: 5px;
    background-color: #081B38;
    border-radius: 20px;
    text-align: center;
    border: 2px solid #FCCE21;
    font-size: 50px;
    box-shadow: 3px 3px black;
    font-family: Impact, Charcoal, sans-serif
}

#controle img:hover {
    cursor: pointer;
}

.card {
    width: 150px;
    height: 240px;
    position: absolute;
    border-radius: 10px;
    perspective: 600px;
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transition: all 1s;
    backface-visibility: hidden;
}

.back {
    background-image: url("../img/jogo/backthomas2.png");
    background-color: white;
}

.back.virar-carta {
    transform: rotateY(180deg);
}

.front {
    transform: rotateY(-180deg);
}

.front.virar-carta {
    transform: rotateY(0deg);
}

.card:hover {
    box-shadow: 0 0 20px black;
    cursor: pointer;
}