* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #005593;
    background: url('../img/jogo/header_footer_bg.gif');
    padding: 0px;
    margin: 0px;
}

/* ESTRUTURA */
div#app {
    width: 100%;
    height: 100%;
}

div#container {
    float: left;
    position: absolute;
    left:10px;
    margin: 10px auto;
}

div#painelJogador {
    float: left;
    position: absolute;
    background-color: #1D3D6F;
    width: 100%;
    height: 20%;
    margin: 0px;
    bottom: 0px;
    border-top: 5px #FCCE21 dashed;
}

div#modalgameover {
    top: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
}

/*--CARDS--*/

.card {
    width: 150px;
    height: 240px;
    position: absolute;
    border-radius: 10px;
    perspective: 600px;
}

.card:hover {
    box-shadow: 0 0 20px black;
    cursor: pointer;
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transition: all 1s;
    backface-visibility: hidden;
}

.back {
    background-image: url("../img/jogo/backthomas2.png");
    background-color: white;
}

.back.virar-carta {
    transform: rotateY(180deg);
}

.front {
    transform: rotateY(-180deg);
}

.front.virar-carta {
    transform: rotateY(0deg);
}

/*-- PAINEL JOGADOR --*/

#jogador {
    float: left;
    color: white;
    width: 200px;
    margin: 20px 50px;
    padding: 5px 30px;
    background-color: #081B38;
    border-radius: 20px;
    text-align: center;
    border: 2px solid #FCCE21;
    font-size: 50px;
    box-shadow: 3px 3px black;
    font-family: Impact, Charcoal, sans-serif;
}

#tempo {
    float: left;
    color: white;
    margin: 20px 50px;
    width: 180px;
    padding: 5px 30px;
    background-color: #081B38;
    border-radius: 20px;
    border: 2px solid #FCCE21;
    font-size: 50px;
    box-shadow: 3px 3px black;
    font-family: Impact, Charcoal, sans-serif;
}

#erros {
    float: left;
    color: white;
    width: 100px;
    margin: 20px 50px;
    padding: 5px 50px;
    background-color: #081B38;
    border-radius: 20px;
    text-align: center;
    border: 2px solid #FCCE21;
    font-size: 50px;
    box-shadow: 3px 3px black;
    font-family: Impact, Charcoal, sans-serif;
}

#controle {
    float: left;
    color: white;
    width: 150px;
    margin: 20px 50px;
    padding: 5px;
    background-color: #081B38;
    border-radius: 20px;
    text-align: center;
    border: 2px solid #FCCE21;
    font-size: 50px;
    box-shadow: 3px 3px black;
    font-family: Impact, Charcoal, sans-serif;
}

#controle img:hover {
    cursor: pointer;
}

/* MODAL MATCH -- */

div#imgmatchsign {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    visibility: hidden;
}

div#imgmatchsign img {
    position: absolute;
    left: 400px;
    top: 50px;
    margin: auto;
    transition: top, opacity;
    transition-duration: 5s;
    opacity: 1;
    visibility: hidden;
}

/* MODAL GAME OVER -- */

div#modalgameover {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
}

div#modalgameover img {
    position: absolute;
    left: 400px;
    top: 50px;
    margin: auto;
    visibility: hidden;
}
